@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

/* .article.grid__item {
  padding: 0;
} */

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 0.6rem;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-card__info {
  padding-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.2rem;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}


/**/
.articles .article-card-wrapper{
      outline: 1px solid #ddd;
    border-radius: 5px;
 }
.articles .article-card__image{
      border-radius: 4px 4px 0 0;
}
.articles .grid__item{
      margin-bottom: 30px;
}
.articles .article_tags{
   letter-spacing: 2px;
}

@media screen and (min-width:990px){
  .articles .blog__post:last-child .card:not(.ratio){
      flex-direction: row;
      align-items: center;
    text-align: center;
}
  .articles .blog__post:last-child.grid__item {
               width: calc(100% - var(--grid-desktop-horizontal-spacing)* 2 );
        max-width: calc(100% - var(--grid-desktop-horizontal-spacing)* 2 );
}
  .articles .grid--2-col-desktop .blog__post:last-child.grid__item{
    width: calc(100% - var(--grid-desktop-horizontal-spacing)* 2/ 2 );
        max-width: calc(100% - var(--grid-desktop-horizontal-spacing)* 2 / 2 );
  }
.articles .blog__post:last-child .article-card__image{
  border-radius: 0;
}
.articles .blog__post:last-child .card__inner{
      width: 55%;
}
.articles .blog__post:last-child .card__content{
  width: 45%;
} 
}

@media screen and (max-width:989px){
    .articles .grid__item {
      margin-bottom: 20px;
  }
     .articles .grid--2-col-tablet .grid__item {
        width: 50%; 
    }
  .articles .articles-wrapper{
        padding: 0 50px;
  }

}

@media screen and (max-width: 749px){
  .articles .articles-wrapper{
        padding: 0 15px;
  }
  .articles .grid--2-col-tablet .grid__item {
        width: 100%; 
    }
}

@media screen and (max-width: 600px){
  .articles .card:not(.ratio){
        flex-direction: row;
  }
 .articles .card__inner {
    width: 35%;
}
  .articles .card__content{
          width: 65%;
  }
      .articles .grid__item {
        margin-bottom: 10px;
    }
.articles .article-card-wrapper{
      outline: 0;
    border-radius: 0;
 }
.articles .article-card__image{
      border-radius: 0;
}
  .articles .article_tags{
    display: none;
  }
}